*
!**\.gitattributes
!**\.gitignore
!**\.md

!/\.editorconfig
!/\.travis\.yml
!/config\.nims
!/input
!/LICENSE
!/scripts/
!/tests/

!/adventOfCode2019_07\.nim
!/adventOfCode2019_07\.nimble
!/adventOfCode2019_07/
